# intelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# ignore Maven generated target folders
target

# ignore eclipse files
.project
.classpath
.settings
.metadata

# ignore .DS_Store files #
.DS_Store
*/.DS_Store

.idea
log/
temp/
tmp/